/*
TABLE OF CONTENT:
1. Mobile first
  1.1. Header
  1.2. Body
  1.3. Footer
*/

/* Global */
html, body {
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
}

/* 1. MOBILE */
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  background-image: linear-gradient(blue -40%, black 30%, black 89%, blue 200%);
  color: #0087ff;
}

/* 1.1. HEADER */

/* 1.2. BODY */
#App {
  padding: 1rem 2rem;
  border: thin solid;
  box-shadow: 0 0 1rem blue inset;
}

#counterBox {
  text-align: center;
}

.code-text {
  font-family: monospace;
}

/* 1.3. FOOTER */
footer {
  margin: 1rem 0;
}
